{% extends 'base.html.twig'  %}


{% block body %}
    <header class="bg-green-700 p-6 text-white text-center mt-16">
        <h1 class="text-4xl font-bold">Welcome to Ballers – Your Ultimate Football Resource</h1>
    </header>

    <main class="container mx-auto mt-10 p-6 bg-white rounded shadow-lg">
        <section class="mb-10">
            <h2 class="text-2xl font-bold mb-4">At Ballers, we are passionate about football</h2>
            <p class="mb-4">Our goal is to create a comprehensive online database that embraces the entire world of football – from emerging talent to the legendary greats of the past. We aim to provide a central platform where football fans, scouts, and enthusiasts can easily access a wealth of information about their favorite players. Here at Ballers, we bring the magic of football to your screen.</p>
        </section>

        <section class="mb-10">
            <h2 class="text-2xl font-bold mb-4">Explore Our Database</h2>
            <p class="mb-4">Our extensive database is the heart of Ballers. Here you will find detailed profiles of footballers from around the world. Whether you are interested in the rise of a young star or the glory days of a football legend, you have come to the right place. Our profiles include biographies, statistics, achievements, and more – everything you need to enrich your knowledge of players and fuel your love for the sport.</p>
        </section>

        <section class="mb-10">
            <h2 class="text-2xl font-bold mb-4">Connect with the Community</h2>
            <p class="mb-4">Ballers is more than just a database; it is a community. We invite you to join discussions, share your opinions, and show your passion for football. Connect with other fans, share your favorite moments, and discover new perspectives and insights. Together, we celebrate the sport that unites us.</p>
        </section>

        <section class="mb-10">
            <h2 class="text-2xl font-bold mb-4">Register and Login</h2>
            <p class="mb-4">To access the full wealth of information and features Ballers has to offer, we ask you to register and log in. As a registered user, you can:</p>
            <ul class="list-disc list-inside mb-4">
                <li>View in-depth player profiles</li>
                <li>Participate in discussions and the community</li>
                <li>Compile personal favorites and lists</li>
                <li>Receive exclusive content and newsletters</li>
            </ul>
            <p class="mb-4">Register today and become part of the Ballers community.</p>
        </section>
    </main>

{% endblock %}

